{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "globals": {
    "socketEvents": "readonly",
    "io": "readonly",
    "EmojiButton": "readonly",
    "processedFiles": "writeable",
    "currentFileCount": "writeable",
    "maxFileCount": "readonly",
    "renderFilePreview": "readonly",
    "getFileTemplate": "readonly",
    "fileToBase64": "readonly",
    "processFile": "readonly",
    "clearPreviewPanel": "readonly",
    "refreshPreviewPanel": "readonly",
    "deleteFileByIndex": "readonly",
    "addFiles": "readonly",
    "editMessage": "readonly",
    "messageIdInEditMode": "writeable",
    "autoGrow": "readonly"
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalDecorators": true
    },
    "impliedStrict": true,
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": [2, 2, {"SwitchCase": 1}],
    "arrow-parens": [2, "always"],
    "function-paren-newline": 0,
    "implicit-arrow-linebreak": 0,
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single", {
      "avoidEscape": true,
      "allowTemplateLiterals": true
    }],
    "semi": [2, "always"],
    "comma-dangle": [2,  {
      "arrays": "never",
      "objects": "always-multiline",
      "exports": "never",
      "functions": "never"
    }],
    "no-use-before-define": [2, { "functions": false }],
    "consistent-return": 0,
    "padding-line-between-statements": [2,
      {"blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      {"blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
    ],
    "newline-before-return": 2,
    "max-len": [
      2,
      120,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-underscore-dangle": "off",
    "object-curly-newline": [2, { "consistent": true }],
    "eqeqeq": [2, "smart"],
    "curly": [2, "multi-line"],
    "object-curly-spacing": [2, "never"],
    "no-console": 1,
    "no-inner-declarations": 1,
    "no-spaced-func": 2,
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none",
      "varsIgnorePattern": "^_",
      "argsIgnorePattern": "^_"
    }],
    "no-confusing-arrow": 0,
    "eol-last": 0,
    "class-methods-use-this": 0,
    "no-unused-expressions": 0,
    "operator-linebreak": 0,
    "no-return-assign": 0,
    "camelcase": 0,
    "lines-between-class-members": 0,
    "no-plusplus": 0,
    "default-case": 0,
    "no-extra-boolean-cast": 0
  }
}
