if date
  .divider= date
for item in messages || []
  div(id=item._id class=`chat-message-wrapper chat-message-wrapper_${item.role}`)
    .chat-message
      include messageUpdate.pug
      .chat-message-footer
        if item.role === 'owner'
          .chat-message-actions
            button.icon-btn.edit-message-btn(type='button', onclick="editMessage('" + item._id + "')")
              i.fa.fa-pencil-square-o
            button.icon-btn.delete-message-btn(type='button', onclick="deleteMessage('" + item._id + "')")
              i.fa.fa-trash-o
        if item.role !== 'owner' && item.role !== 'admin'
          .chat-message-actions
            button.icon-btn.emoji-picker-btn(type='button', onclick="toggleEmojiPicker('" + item._id + "')")
              i.fa.fa-smile-o
