for item in messages || []
  div(class=`chat-message-block__message ${item.owner ? 'owner': 'peer'}`)
    .message__user-info
      .message__user-name= item.username
      .message__date= item.time
    .message__user-content= item.text

