.message__user-info
  .message__user-name= item.username
  .message__date= item.updateTime ? `Updated ${item.updateTime}` : item.createTime
.message__user-content= item.text
if item.role === 'owner'
  include messageActions.pug
