.chat-message-body
    if (item.files && item.files.length)
        for fileAddr in item.files
            .chat-message-uploaded-img
                img(src=`/${fileAddr}`)
    if (item.files && item.files.length && item.text)
        br
    if item.pre
        .chat-message-pretext= item.pre
    if item.text
        .chat-message-text= item.text
    if (item.emoji && item.emoji.length)
        .chat-message-emoji= item.emoji.join('')