.header__statuses
  ul
    li(onclick='changeStatus(' + "'online'" + ')') online
      i.fa.fa-check-circle-o
    li(onclick='changeStatus(' + "'away'" + ')') away
      i.fa.fa-clock-o
    li(onclick='changeStatus(' + "'offline'" + ')') offline
      i.fa.fa-ban
