color-dark-base = #32465a;
color-dark-base-tr = rgba(50,70,90,0.9);
color-dark-content = #435f7a;
color-light-messages = aliceblue;
color-normal-base = #48829a;
color-light-base = #f5f5f5;
color-light-body = #E6EAEA;

html
  height: 100%
  font-family: Arial, Helvetica, sans-serif;

body
  margin: 0;
  height: 100%;
  background-color: #b6cbe0;

h1
  display: block;
  margin: 0;
  color: color-light-base;
  text-align: left;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 26px;

p
  margin: 0;

.emoji-picker
  position: absolute;
  bottom: 10%;
  right: 1%;

.container-page__login-page,
.container-page__chat-page
  margin: 0 auto
  min-height: 100%;
  height: 100%;
  background-color: #b6cbe0;

.container-page__login-page
  .container-page__content
    width: 50%
    margin: 0 auto
    overflow: auto;

.container-page__chat-page
  .container-page__content
    width: 100%
    min-height: 100%;
    height: 100%;
    overflow: auto;

.container-page__form
  margin-top: 6%;
  padding: 50px 0 50px;
  border-radius: 6px;
  background: color-dark-base;

.header-block
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 0 auto;

  .link
    display: block;
    color: color-light-base;
    outline: none;
    text-align: right;
    line-height: 34px;
    font-size: 20px;

form
  margin: 34px 0 14px;
  background: color-dark-base

.form-item
  width: 80%;
  padding: 10px 0 16px;
  margin: 0 auto;

.form-item label
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: color-light-base;
  font-family: sans-serif;
  letter-spacing: 0.6px;

.form-item input, select
  width: 100%
  height: 30px
  font-size: 16px
  border-radius: 4px
  border: 1px solid #AAA
  outline none
  background-color: color-light-base;
  font-family: sans-serif;
  color: #2c3e50 !important;

.form-item input[type=text],
.form-item input[type=password]
  box-sizing: border-box
  padding-left: 8px

//.form-button
//  padding: 58px 0 0;

.form-button input[type=submit]
  width: 100%;
  background-color: color-dark-content;
  border: 1px solid color-light-base;
  color: color-light-base !important;
  line-height: 0;
  font-size: 20px;
  padding: 18px 34px;
  text-decoration: none;
  cursor: pointer;
  outline: none;

select
  -webkit-appearance: button;
  -moz-appearance: button
  -webkit-user-select: none
  -moz-user-select: none
  -webkit-padding-end: 20px
  -moz-padding-end: 20px
  -webkit-padding-start: 2px
  -moz-padding-start: 2px
  background-color: #fff /* Fallback color if gradients are not supported */
  border: 1px solid #AAA
  border-radius: 0
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)
  color: #555
  font-size: 16px
  margin: 0
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.error
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  color: color-light-base;
  font-style: italic;
  font-weight: bolder;

  .error-message
    margin: 0;

.container-page__chat
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

.chat-left-side
  width: 25%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

.chat-right-side
  width: 75%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;

.chat-header
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 60px;
  font-size: 22px
  font-family: sans-sesrif;
  color: color-light-base;
  background: color-dark-base;

.chat-right-side
  .chat-header
    justify-content: space-between;
    font-family: sans-serif;

.header__user-data
  position: relative;
  padding-left: 30px;
  font-weight: bold;

  .status
    position: absolute;
    width: 12px;
    height: 12px;
    background: #27ae60;
    left: 12px;
    margin-left: 0;
    top: 50%;
    margin-top: -10px;
    border-radius: 100%;


.chat-header__room-name
  width: 80%
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;

  .room-name
    position: relative;
    width: fit-content;
    font-size: 20px;
    font-family: sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.8px;

  .fa.fa-comment-o
    margin-left: 20px;
    color: color-light-base;

.header__chat-leave-btn
  width: 100px
  text-align: center
  margin-right: 20px;

  button
    width: 100%;
    background-color: transparent;
    border: 1px solid color-light-base;
    border-radius: 8px;
    color: color-light-base !important;
    line-height: 0;
    font-size: 18px;
    letter-spacing: 0.8px;
    padding: 12px 4px;
    text-decoration: none;
    cursor: pointer;
    outline: none;

  .fa.fa-sign-out
    padding-left: 8px;

.chat-content
  position: relative;
  flex-grow: 1;
  overflow: auto;
  font-size: 18px
  color: color-light-base;
  background: color-dark-content;

#images-list
  width: 12%;
  max-height: 80%;
  position: absolute;
  right: 0;
  bottom: 46px;
  overflow: auto;
  background-color: color-dark-base-tr;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;

  .image-list_preview
    height: 80px;
    margin: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

.chat-footer
  flex-shrink: 0;
  background: color-dark-base;
  padding: 12px;

.chat-content-inner
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;

.chat-sidebar__room-name-title
  margin-bottom: 20px
  padding-top: 20px
  padding-left: 10px

  .chat-sidebar__room-name
    margin-top: 10px;
    padding-left: 10px;

.chat-sidebar__room-users
  margin: 5px 0

.chat-sidebar__room-users-title
  margin-bottom: 20px;

#chat-invite-form
  margin: 0;
  padding: 0;
  height: 100%;

.form-item.chat-invite-form
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  #email
    width: 80%;
    padding-left: 8px;
    background: transparent;
    border-color: color-light-base;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: color-light-base;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: color-light-base;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
      color: color-light-base;
    }

  .fa.fa-user-o
    margin-right: 12px;
    color: color-light-base;
    font-size: 24px;

  #invite-confirmation
    position: absolute;
    top: -50px;
    left: -158px;
    color: color-light-base;
    font-size: 14px;
    max-height: 30px;
    overflow: auto;
    max-width: 200px;

  .actions
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: color-light-base;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

  .fa.fa-envelope-o
    font-size: 26px;
    cursor: pointer;

  #send-invite-btn
    width: 32px;
    margin: 0 10px 0;
    padding: 0;
    position: relative;
    cursor: pointer;

  .actions
    background-position: center;
    transition: background 0.8s;

  .actions:hover
    background: color-dark-base radial-gradient(circle, transparent 1%, color-dark-base 1%) center/15000%;

  .actions:active
    background-color: color-light-body;
    background-size: 100%;
    transition: background 0s;

  button.actions
    border: none;
    cursor: pointer;
    background-color: color-dark-base;
    outline: none;

  span
    font-size: 18px;
    letter-spacing: 0.8px;
    height: 30px;
    line-height: 40px;

.chat-messages
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: color-light-body;
  color: color-dark-base;
  overflow: auto;

.chat-message-block__message
  max-width: 450px;
  margin: 10px auto;
  padding: 12px 16px;
  border-radius: 16px

.chat-message-block__message.owner
  margin: 10px 8px 10px auto
  padding-bottom: 8px;
  border-bottom-right-radius: 0;
  color: color-light-base;
  background: color-dark-base;
  box-shadow: 0 0 2px 0 color-dark-content;

.chat-message-block__message.peer
  margin: 10px auto 10px 8px;
  border-bottom-left-radius: 0;
  background: color-light-base;
  box-shadow: 0 0 2px 0 color-dark-base;

.chat-message-block__message.admin
  max-width: 100%;
  padding: 0;
  font-style: italic;
  text-align: center;
  border: none;
  background: transparent;
  box-shadow: none;

  .message__user-info,
  .message__user-name,
  .message__date
    display: none;

.message__user-info
  display: flex
  flex-direction: row
  justify-content: space-between
  justify-items: center
  align-items: center
  margin-bottom: 8px
  padding: 0 2px

.message__user-name
  font-size: 14px;
  font-weight: bold;
  font-style: italic;

.message__date
  font-size: 14px;
  font-style: italic;

#chat-message-isTyping
  display: flex;
  min-height: 24px;
  margin-top: auto;
  padding-bottom: 10px;
  align-items: center;

  .message__user-name
    margin: 4px 4px 4px 20px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    color: color-dark-content;

.message__isTyping
  font-style: italic;
  color: color-dark-content;

.message__isTyping:after
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 2.5s infinite;
  -moz-animation: ellipsis steps(4, end) 2.5s infinite;
  animation: ellipsis steps(4, end) 2.5s infinite;

.divider
  position: sticky;
  top: 10px;
  margin: 20px 0 10px;
  font-size: 16px;
  font-style: italic;
  text-align: center;

#chat-form
  position: relative;
  width: 100%;
  //height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;



  .form-item
    margin: 0;
    padding: 0;
    width: 100%;
    //height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background: color-dark-base;

    #image-clear
      position: absolute;
      right: 133px;
      bottom: 10px;

    #message
      width: 100%
      min-height: 34px;
      height: 34px;
      max-height: 200px;
      margin: 0 auto;
      padding: 4px 128px 0 14px;
      font-size: 18px
      border: 1px solid white
      background: color-light-body
      box-sizing: border-box
      box-shadow: none
      outline: none
      //overflow:hidden;
      display: block;
      resize: none;
      background-size: 32px 32px;
      background-repeat: no-repeat;
      background-position: bottom 0 right 122px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: color-dark-base;
        opacity: 1; /* Firefox */
      }

      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: color-dark-base;
      }

      &::-ms-input-placeholder { /* Microsoft Edge */
        color: color-dark-base;
      }

  .message-actions
    position: absolute;
    width: 100px;
    right: 16px;
    bottom: 6px;
    display flex;
    justify-content: space-between;

  #send-message-btn
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    cursor: pointer;

  .fa.fa-smile-o
    color: color-dark-base;
    font-size: 24px;

  .fa.fa-paperclip
    color: color-dark-base;
    font-size: 24px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

  .fa.fa-paper-plane-o
    color: color-dark-base;
    font-size: 22px;

  .attach-file
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

  .attach-file.active::after
    position: absolute;
    top: -3px;
    right: -8px;
    content: '+';
    display: block;
    width: 16px;
    height: 15px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background: #228b22;
    border-radius: 50%;

  #file
    display: none;

.message__user-img
  img
    height: 100px;

.message__user-actions
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  justify-items: center;

  .delete-message-btn,
  .edit-message-btn
    background: transparent;
    border: none;
    cursor: pointer;

    .fa.fa-trash-o,
    .fa.fa-pencil-square-o
      font-size: 18px;
      color: color-light-base;

  .edit-message-btn
    height: 14px;
    padding: 0;

.footer__chat-message-input
  width: 96%
  display: flex
  flex-direction: row
  justify-content: center

  input
    width: 90%
    height: 34px
    padding: 0 20px
    font-size: 18px
    border: none
    box-sizing: border-box
    box-shadow: none
    outline: none
  button
    width: 60px
    height: 34px
    font-size: 18px
    border: none
    border-left: 1px solid #AAA
    box-sizing: border-box
    box-shadow: none
    outline: none

@keyframes ellipsis
{
  to { width: 1.3em; }
}

@-webkit-keyframes ellipsis
{
  to { width: 1.3em; }
}

// Chat message

.chat-message-wrapper
  display flex

.chat-message
  display: inline-block;
  max-width 450px

.chat-message-header
  display: flex;
  margin-bottom 4px
  font-size 14px

.chat-message:hover
  .chat-message-actions
    visibility: visible

  .edit-message-btn[disabled]
    cursor: not-allowed;

  .emoji-picker-btn
    .fa.fa-smile-o
      font-size: 16px;

.chat-message-user-info
  font-weight bold
  margin: 0 10px 0 12px

.chat-message-body
  min-width: 60px;
  padding: 12px 16px;
  border-radius: 16px;

.chat-message-emoji
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

.chat-message-uploaded-img
  img
    max-width: 100%;

.chat-message-footer
  margin: 0 10px
  display: flex;
  justify-content flex-end;
  align-items: center;

.chat-message-actions
  visibility: hidden

.chat-message-date
  font-size: 12px;
  font-style: italic;
  color: rgba(0,0,0,.7)

.edit-message-btn,
.delete-message-btn
  font-size 16px
  color: rgba(0,0,0,.7)
  &::hover {
    color: rgba(0,0,0,.1)
  }


.icon-btn
  background: transparent;
  border: none;
  cursor: pointer;


.chat-message-wrapper_peer

  .chat-message
    margin: 10px auto 10px 8px;

  .chat-message-body
    color: color-dark-base;
    background: color-light-base;
    box-shadow: 0 0 2px 0 color-dark-base;
    border-bottom-left-radius: 0;


.chat-message-wrapper_owner

  .chat-message
    margin: 10px 8px 10px auto;

  .chat-message-body
    color: color-light-base;
    background: color-dark-base;
    box-shadow: 0 0 2px 0 color-dark-content;
    border-bottom-right-radius: 0;



grey = #EDEDE8;
font-color = #333;
border-color = darken(grey, 20%);

#upload-file-container {
  box-sizing: border-box;
  position: relative;
  display: block;

  &__custom-file {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
    margin-top: 5px;

    &:hover {
      cursor: pointer;
    }

    &__custom-file-input {
      box-sizing: border-box;
      min-width: 14rem;
      max-width: 100%;
      height: calc(2.25rem + 2px);
      margin: 0;
      opacity: 0;

      // on input focus, applies focus style to the styled input span
      &:focus ~ span {
        outline: 1px dotted #212121;
        outline: 5px auto -webkit-focus-ring-color;
      }
    }

    &__custom-file-control {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: 5;
      height: calc(2.25rem + 2px);
      padding: .5rem .75rem;
      overflow: hidden;
      line-height: 1.5;
      color: font-color;
      user-select: none;
      background-color: white;
      background-clip: padding-box;
      border: 1px solid border-color;
      border-radius: .25rem;

      &__button {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
        display: block;
        height: calc(2.25rem + 2px);
        padding: .5rem .75rem;
        line-height: 1.25;
        color: font-color;
        background-color: grey;
        border-left: 1px solid border-color;
        box-sizing: border-box;
      }
    }
  }

  &__image-multi-preview {
    position: relative;
    box-sizing: border-box;
    transition: all 0.2s ease;
    border-radius: 6px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin: 1.858736059%;
    width: 29.615861214%;
    height: 90px;
    box-shadow: 0 4px 10px 0 rgba(black, 0.25);
  }
}

.image-clear-wrapper {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 14px;
  margin-top: -6px;
  text-align: center;
  background: color-light-base;
  border-radius: 50%;
  box-shadow: 0 4px 10px 0 rgba(black, 0.25);

  &:hover {
    background: darken(color-light-base, 20%);
    cursor: pointer;
  }

  .image-clear-icon {
    display: block;
    margin-top: -3px;
    font-weight: bold;
    color: darken(color-light-base, 55%);
  }
}

#edit-mode-flag {
  .fa.fa-pencil {
    padding: 0 10px;
    cursor: pointer;
  }
}

.chat-message-emoji
  padding-top: 4px;